ion-item {
  --background: #f9f9f9;
  --border-radius: 10px;
  margin: 10px 0;
}

ion-thumbnail img {
  border-radius: 8px;
}

.evento-agregado {
  text-align: center;
  margin-top: 20px;
  color: #4caf50;
  font-weight: bold;
}
