<ion-content>
  <ion-list>
    
    <ion-item *ngFor="let evento of eventos">
      
      <ion-label *ngIf="editingEvento.id !== evento.id">
        <h2>{{ evento.nombre }}</h2>
        <p>{{ evento.descripcion }}</p>
        <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
        <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
      </ion-label>

   
      <div *ngIf="editingEvento.id === evento.id">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="editingEvento.nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="editingEvento.descripcion"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime [(ngModel)]="editingEvento.fecha" display-format="MM/DD/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ubicación</ion-label>
          <ion-input [(ngModel)]="editingEvento.ubicacion"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="saveEvento()">Guardar</ion-button>
        <ion-button expand="block" color="light" (click)="cancelEdit()">Cancelar</ion-button>
      </div>

     
      <ion-button *ngIf="editingEvento.id !== evento.id" color="primary" (click)="startEdit(evento)">
        Editar
      </ion-button>
      <ion-button color="danger" (click)="deleteEvento(evento.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
