<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-end"> Actividades </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/seminario1.jpg" />
    <ion-card-header>
      <ion-card-title>Seminario python</ion-card-title>
      <ion-card-subtitle>Carlos Urrutia Pinto</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Sumérgete en el mundo de la programación con Python, uno de los lenguajes más versátiles y demandados. Aprende desde los fundamentos hasta técnicas avanzadas, con aplicaciones prácticas en desarrollo web, análisis de datos, automatización y más. ¡Ideal para principiantes y profesionales que buscan mejorar sus habilidades!
    </ion-card-content>
  </ion-card>
</div>
<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/seminario2.jpg" />
    <ion-card-header>
      <ion-card-title>¡Ven a realizar tu juego!</ion-card-title>
      <ion-card-subtitle>Catalina Ramirez Rodriguez</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Únete a nuestro taller interactivo donde aprenderás a diseñar y desarrollar un juego desde cero. Descubre cómo dar vida a tus ideas con herramientas modernas, mientras exploras conceptos de diseño, programación y creación de experiencias envolventes para jugadores de todas las edades. ¡No necesitas experiencia previa!
    </ion-card-content>
  </ion-card>
</div>
<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/seminario4.jpg" />
    <ion-card-header>
      <ion-card-title>Seminario diseño web</ion-card-title>
      <ion-card-subtitle>Rocio Muñoz Sepúlveda</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aprende a crear aplicaciones web modernas y responsivas con Ionic, el framework líder para el desarrollo móvil y web. Descubre técnicas de diseño avanzado, personalización de componentes, y optimización de interfaces para ofrecer experiencias de usuario excepcionales en múltiples plataformas.
    </ion-card-content>
  </ion-card>
</div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
