<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Evento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="mostrarMenu()"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="addEvent()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="evento.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="evento.descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime [(ngModel)]="evento.fecha" name="fecha" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input [(ngModel)]="evento.ubicacion" name="ubicacion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen URL</ion-label>
      <ion-input [(ngModel)]="evento.imagen" name="imagen"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Agregar Evento</ion-button>
  </form>
</ion-content>
