<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registrate acá</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image centered-content" style="--padding-bottom: 0;">
  <div class="card-container"> 
    <ion-card style="width: 90%; max-width: 500px;">
      <ion-card-header>
        <ion-card-title>Bienvenido a Meatly</ion-card-title>
      </ion-card-header>

      <ion-card-content >
        <div style="text-align: center; margin-bottom: 20px;">
          <img src="assets/iconoo.png" alt="Icono" style="width: 150px; height: 150px;">
        </div>

        <form [formGroup]="registroForm">
        
          <ion-item>
            <ion-input type="text" placeholder="" formControlName="username" 
                       label="Username:" labelPlacement="floating"></ion-input>
          </ion-item>
          <div id="alerta" *ngIf="registroForm.get('username')?.invalid && (registroForm.get('username')?.dirty || 
                    registroForm.get('username')?.touched)">
            <div *ngIf="registroForm.get('username')?.hasError('required')">
              *Username es obligatorio
            </div>
            <div *ngIf="registroForm.get('username')?.hasError('minlength')">
              *Username debe tener mínimo 6 caracteres
            </div>
          </div>

         
          <ion-item>
            <ion-input type="email" formControlName="email" label="Email:" 
                       labelPlacement="floating"></ion-input>
          </ion-item>
          <div id="alerta" *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || 
                  registroForm.get('email')?.touched)">
            <div *ngIf="registroForm.get('email')?.hasError('required')">
              *Email es obligatorio
            </div>
            <div *ngIf="registroForm.get('email')?.hasError('email')">
              *Formato no válido
            </div>
          </div>

          
          <ion-item>
            <ion-input type="password" formControlName="password" label="Password" labelPlacement ="floating"></ion-input>
          </ion-item>
          <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || 
                    registroForm.get('password')?.touched)">
            <div *ngIf="registroForm.get('password')?.hasError('required')">
              *Password es obligatoria
            </div>
            <div *ngIf="registroForm.get('password')?.hasError('pattern')">
              *Password debe tener mínimo 8 caracteres, una letra y un número
            </div>
          </div>

          
          <ion-item>
            <ion-input type="text" formControlName="rut" label="RUT:" labelPlacement="floating"></ion-input>
          </ion-item>
          <div id="alerta" *ngIf="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.dirty || 
                  registroForm.get('rut')?.touched)">
            <div *ngIf="registroForm.get('rut')?.hasError('required')">
              *RUT es obligatorio
            </div>
          </div>

          <div style="text-align: center; margin-top:20px">
            <ion-button (click)="crearUsuario()" fill="solid" shape="round" color="medium">
              Crear Usuario
            </ion-button>
          </div>
        </form> 
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>

<ion-footer>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-footer>
