<ion-header>
  <ion-toolbar>
    <ion-title>Generador de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
   
    <h3>Selecciona un evento</h3>
    <ion-list>
      <ion-item *ngFor="let evento of usuario?.eventos" (click)="seleccionarEvento(evento)">
        <ion-label>
          <h2>{{ evento.nombre }}</h2>
          <p>{{ evento.fecha }} - {{ evento.ubicacion }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

   
    <ion-button (click)="generarCodigoQR()" expand="block" color="primary">
      Generar QR
    </ion-button>

   
    <div *ngIf="qrVisible">
      <h2>Código QR</h2>
      <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
      <pre>{{ qrData }}</pre>
    </div>
  </div>
</ion-content>
