ion-card{
    position: relative;
    top: 130px;
}

ion-card-tittle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
ion-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    color: white;
    }