<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Meatly</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content [fullscreen]="true" class="background-image">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a Meatly</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">

          <ion-item>
            <ion-input type="text" placeholder="Username" 
                       label="Ingrese nombre de usuario: " labelPlacement="floating"
                       formControlName="username"></ion-input>
          </ion-item>

          <div id="alerta" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || 
                    loginForm.get('username')?.touched)">
            <div *ngIf="loginForm.get('username')?.hasError('required')">
              *Username es obligatorio
            </div>
            <div *ngIf="loginForm.get('username')?.hasError('minlength')">
              *Username debe tener mínimo 6 caracteres
            </div>
          </div>

          <ion-item>
            <ion-input type="password" placeholder="Password" 
                       label="Ingrese contraseña: " labelPlacement="floating"
                       formControlName="password"></ion-input>
          </ion-item>

          <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || 
                  loginForm.get('password')?.touched)">
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              *Password es obligatoria
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('minlength')">
              *Password debe tener mínimo 8 caracteres
            </div>
          </div>

          <div style="text-align: center; margin-top:20px">
            <ion-button (click)="login()" [disabled]="!loginForm.valid" fill="solid" shape="round" color="medium">
              Iniciar Sesión
            </ion-button>
          </div>

          
          <div style="text-align: center; margin-top: 20px;">
            <ion-button routerLink="/crear-usuario" fill="solid" shape="round" color="medium">
              Crear Usuario
            </ion-button>
          </div>
        </form> 

        <div style="text-align: center; margin-top: 20px;">
          <img src="assets/iconoo.png" alt="Icono" style="width: 100px; height: 100px;">
        </div>
      </ion-card-content>
    </ion-card> 
  </ion-content>
</body>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-discord"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
